[submodule "rocket-chip"]
	path = rocket-chip
	url = git@github.com:ucb-bar/rocket-chip.git
[submodule "strober"]
	path = strober
	url = git@github.com:ucb-bar/strober.git
[submodule "firrtl"]
	path = firrtl
	url = git@github.com:ucb-bar/firrtl.git
[submodule "chisel"]
	path = chisel
	url = https://github.com/ucb-bar/chisel3.git
[submodule "testchipip"]
	path = testchipip
	url = https://github.com/ucb-bar/testchipip.git
[submodule "midas-memory-model"]
	path = midas-memory-model
	url = https://github.com/ucb-bar/midas-memory-model.git
[submodule "riscv-boom"]
	path = boom
	url = https://github.com/ucb-bar/riscv-boom.git
[submodule "midas-zynq"]
	path = midas-zynq
	url = https://github.com/donggyukim/midas-zynq.git
