[submodule "rocket-chip"]
	path = rocket-chip
	url = git@github.com:ucb-bar/rocket-chip.git
[submodule "midas"]
	path = midas
	url = git@github.com:ucb-bar/midas-release.git
[submodule "firrtl"]
	path = firrtl
	url = git@github.com:ucb-bar/firrtl.git
[submodule "chisel"]
	path = chisel
	url = git@github.com:ucb-bar/chisel3.git
[submodule "riscv-boom"]
	path = boom
	url = git@github.com:ucb-bar/riscv-boom.git
[submodule "midas-zynq"]
	path = platforms/zynq
	url = git@github.com:ucb-bar/midas-zynq.git
[submodule "fesvr"]
	path = riscv-fesvr
	url = git@github.com:riscv/riscv-fesvr.git
[submodule "testchipip"]
	path = testchipip
	url = https://github.com/ucb-bar/testchipip.git
[submodule "sifive-blocks"]
	path = sifive-blocks
	url = https://github.com/sifive/sifive-blocks.git
[submodule "hammer"]
	path = plsi
	url = https://github.com/ucb-bar/hammer.git
	branch = 0.0
[submodule "barstools"]
	path = barstools
	url = https://github.com/ucb-bar/barstools.git
