[submodule "rocket-chip"]
	path = rocket-chip
	url = git@github.com:ucb-bar/rocket-chip.git
[submodule "strober"]
	path = strober
	url = git@github.com:ucb-bar/strober.git
[submodule "firrtl-interpreter"]
	path = firrtl-interpreter
	url = git@github.com:ucb-bar/firrtl-interpreter.git
[submodule "chisel-testers"]
	path = chisel-testers
	url = https://github.com/ucb-bar/chisel-testers
[submodule "firrtl"]
	path = firrtl
	url = git@github.com:ucb-bar/firrtl.git
